#JotFormIFrame-222896978943177 {
    position: relative;
    /* right: 190px; */
    /* bottom: 195px; */
    /* min-width: 245%; */
    min-width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    height:1625px;
    border:none;
}