.menu {
    /* margin-top: 2vh; */
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menuSection {
    width: 100%;
    height: 8vh;
    display:flex;
    justify-content:center;
    background-color: rgb(34, 32, 32);
}

#login {
    position: absolute;
    right: 3vw;
    font-size: x-large;
    color:antiquewhite;
    text-decoration: none;
}

#register {
    position: absolute;
    right: 2.5vw;
    top: 3vh;
    font-size: x-large;
    color:antiquewhite;
    text-decoration: none;
}

#menuImage {
    position: absolute;
    width: 8vw;;
    height: 7vh;
    top: .5vh;
    left: 2.5vw;
}


.link {
    padding-left: 4vw;
    padding-right: 4vw;
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.link_a {

    float: center;
    text-decoration: none;
    color: white;
}